<!--Jumbotron -->
    <div class="container" id="jumbo">
      <div class="row">
        <div class="col-lg-12">
          <div id="content">
            <h1>Welcome to WynEats!</h1>
<br>
<br>
<br>
            <div>
              <a href="http://localhost:3000/restaurants" target="_self"><button class="btn btn-default btn-lg"><i class="fa fa-cutlery" aria-hidden="true"></i> Go to Restaurants</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="stats">
    <p class="stats">Total Restaurants to Choose From: <%= Restaurant.count %></p>
    <p class="stats">Total Reviews to Help You Choose: <%= Review.count %></p>
    </div>
