<h1>Welcome to WynEats!</h1>

<h5>Total Restaurants to Choose From: <%= Restaurant.count %></h5>
<a href="/restaurants">Go to Restaurants</a>

<h5>Total Reviews to Help You Choose: <%= Review.count %></h5>

<%= link_to 'Add Restaurant', new_restaurant_path %>
<%= link_to 'Add Review', new_review_path %>
