require twitter/bootstrap

html {
   height:100%;
 }
.stats {
  color:white;
  text-align: center;
  font-size: 30px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
                8px 8px 13px rgba(0,0,0,0.2),
                0px 18px 23px rgba(0,0,0,0.2);
}
.media-heading {
  border-bottom: 1px solid lightgray;
}

#jumbo {
  background-image: url('wyneats.jpg');
  background-size: cover;
}
#table {
  background-color: gray;
  margin: 7em;
}
#rest_table {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#item {
  border: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 75%;
  margin: 10px auto;
}
#header {
  text-align: center;
  color: white;
}
#logbutton{
  color: gray;
}
#reviewform {
  text-align: center;
}
#login {
  text-align: center;
  color: white;
}
#back {
  text-align: center;
}
#show {
  border: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 75%;
  margin: 10px auto;
}
#review {
  border: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 75%;
  margin: 10px auto;
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                8px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}
body {
   /*background-image: url("background.jpg");*/
   background-color: #a6342c;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   font-family: 'Lato', sans-serif;
 }

#content h1 {
  font-weight: 700;
   font-size: 5em;
  color: white;
  font
}

h3 {
  color:white;
 }

hr {
   width:100px;
   border-top: 1px solid #f8f8f8;
   border-bottom: 1px solid rgba(0,0,0,0.2);
 }

 #content {
   text-align: center;
   padding-top: 10%;
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                8px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
 }

 .login {
  margin: 2px;
 }

 .btn {
  margin: 10px;
 }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
